.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 50px;
}
h1 {
  text-align: center;
  text-decoration: solid;
  font-size: 100px;
}
.flex {
  display: flex;
  justify-content: flex-start;
}
.facebook {
  height: 10px;
}
